<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/tema/css/style.css" type="text/css" rel="stylesheet" />
    <title>Alışverişe Başla!</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E Commerce Template</font></font></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Anasayfa </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(şimdiki)</font></font></span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/List"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ürün Listesi </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(şimdiki)</font></font></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Product/Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ürünler(Yönetici Paneli)</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kategoriler(Yönetici Paneli)</font></font></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Siparişler</font></font></a>
                    </li>
                </ul>
                @Html.Action("Summary","Card")<br />
                @Html.Partial("_Login_Partial")
            </div>
        </div>
    </nav>
   
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <span class="text-muted"><fonts style="vertical-align: inherit;"><fonts style="vertical-align: inherit;">Yapışkan altbilgi içeriğini buraya yerleştirin.</fonts></fonts></span>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="js/holder.min.js" type="application/javascript"></script>
</body>

</html>