@model IEnumerable<Ecommerce.Entity.Category>
@{ 
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
    
}

<ul class="list-group">
        <a class="list-group-item" href="/Home/List">
            Tüm Ürünler
        </a>

    @foreach (var item in Model)
    {
        if (selectedCategory != null)
        {

            if (int.Parse(selectedCategory.ToString()) == item.Id)
            {
                <a class="list-group-item active" href="/Home/List/@item.Id" style="color:white;">@item.Name</a>

            }
            else
            {
                <a class="list-group-item" href="/Home/List/@item.Id">@item.Name</a>

            }
        }
        else
        {
           <a class="list-group-item" href="/Home/List/@item.Id">@item.Name</a>

        }

    }
</ul>
