@model Ecommerce.Models.Card


<ul class="navbar-nav my-2 my-lg-0">
<a href="/Card/Index" class="nav-link">
    <li style="color:white;" class="nav-item active">
        <i class="fa fa-cart-plus" aria-hidden="true"></i>
        (@Model.CardLines.Count)
    </li>
    </a>
</ul>

